<!DOCTYPE html>
<html lang="en">
<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- Site Metas -->
<title>DADA SUCRE</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- Site Icons -->
<link rel="shortcut icon" href="{{ asset('images/icon1.png')}}" type="image/x-icon" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
<!-- Site CSS -->
<link rel="stylesheet" href="{{ asset('style.css')}}">
<!-- Colors CSS -->
<link rel="stylesheet" href="{{ asset('css/colors.css')}}">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="{{ asset('css/versions.css')}}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{{ asset('css/responsive.css')}}">
<!-- building CSS -->
<link rel="stylesheet" href="{{ asset('css/building.css')}}">
</head>
<body class="building_version" data-spy="scroll" data-target=".header">
<!-- LOADER -->
<div id="preloader">
    <img class="preloader" src="{{ asset('images/prettyPhoto/default/loader.gif') }}" alt="">
</div>
<!-- end loader -->
<!-- END LOADER -->
<header class="header header_style_01">
    <nav class="megamenu navbar navbar-default" data-spy="affix">
        <div class="top-header">
            <div class="container">
                <div class="top-area-block top-area-socials socials-colored-hover">
                        <a data-scroll href="{{ path('fos_user_registration_register') }}" class="btn">S'inscrire</a>
                        <a data-scroll href="{{ path('fos_user_security_login') }}" class="btn btn-green">Connection</a>
                        <a class="socials-item" href="#" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="socials-item" href="#" target="_blank" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a class="socials-item" href="#" target="_blank" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a data-scroll href="#home">Home</a></li>
                    <li><a data-scroll href="#services">Services</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right: 25%;">
                    <li><a data-scroll href="{{ path('devis_new') }}">Devis</a></li>
                    <li><a data-scroll href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% block body %}
{% endblock %}
<!-- footer -->
<footer id="footer">
    <div id="footer-widgets" class="container style-1">
        <div class="row">
            <div class="col-md-4">
                <div class="widget widget_text">
                    <h2 class="widget-title"><span>ABOUT US</span></h2>
                    <div class="textwidget">
                        <a class="navbar-brand" href="index-building.html"><img src="{{ asset('images/logo-icon.png')}}" alt="image"><span>Constructed</span></a>
                        <p>Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget. Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit ege  Aenean suscipit eget mi act fermentum phasellus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget widget_links">
                    <h2 class="widget-title"><span>COMPANY LINKS</span></h2>
                    <ul class="wprt-links clearfix col2">
                        <li><a data-scroll="" href="#home">Home</a></li>
                        <li><a data-scroll="" href="#services">Services</a></li>
                        <li><a data-scroll="" href="#projects">Our Work</a></li>
                        <li><a data-scroll="" href="#testimonials">Testimonials</a></li>
                        <li><a data-scroll="" href="#price">Price</a></li>
                        <li><a data-scroll="" href="#contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget widget_information">
                    <h2 class="widget-title"><span>CONTACT INFO</span></h2>
                    <ul>
                        <li class="address clearfix">
                            <span class="hl">Address:</span>
                            <span class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                        </li>
                        <li class="phone clearfix">
                            <span class="hl">Phone:</span>
                            <span class="text">+56 (0) 012 345 6789</span>
                        </li>
                        <li class="email clearfix">
                            <span class="hl">E-mail:</span>
                            <span class="text">business@support.com</span>
                        </li>
                    </ul>
                </div>
                <div class="widget widget_socials">
                    <div class="socials">
                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom" class="clearfix style-1">
        <div class="container">
            <div id="bottom-bar-inner" class="wprt-container">
                <div class="bottom-bar-inner-wrap">
                    <div class="bottom-bar-content">
                        <div id="copyright">All Rights Reserved. Company Name © 2018</div>
                        <!-- /#copyright -->
                    </div>
                    <!-- /.bottom-bar-content -->
                    <div class="bottom-bar-menu pull-right">
                        <ul class="bottom-nav">
                            <li><a href="#/">HISTORY</a></li>
                            <li><a href="#/">FAQ</a></li>
                            <li><a href="#/">EVENTS</a></li>
                        </ul>
                    </div>
                    <!-- /.bottom-bar-menu -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
<!-- ALL JS FILES -->
<script src="{{ asset('js/all.js') }}"></script>
<!-- ALL PLUGINS -->
<script src="{{ asset('js/custom.js') }}"></script>
<script src="{{ asset('js/portfolio.js') }}"></script>
<script src="{{ asset('js/hoverdir.js') }}"></script>
</body>
</html>
