<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" type="image/ico" href="{{asset('favicon.ico')}}">
    <title>{% block title %}DADA  :: Login{% endblock %}</title>
    <link rel="stylesheet" href="{{asset('back/css/login.css')}}">
    <link rel="stylesheet" href="{{asset('back/css/theme.min.css')}}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet'>
    <link rel="stylesheet" href="{{ asset('back/bootstrap/css/bootstrap.min.css') }}">
    <!-- jQuery framework -->
    <script src="{{asset('back/js/jquery-1.11.3.min.js')}}"></script>
    <!-- validation -->
    <script src="{{asset('back/js/lib/jquery-validation/jquery.validate.js')}}"></script>
    <script type="text/javascript">
        (function(a){a.fn.vAlign=function(){return this.each(function(){var b=a(this).height(),c=a(this).outerHeight(),b=(b+(c-b))/2;a(this).css("margin-top","-"+b+"px");a(this).css("top","50%");a(this).css("position","absolute")})}})(jQuery);(function(a){a.fn.hAlign=function(){return this.each(function(){var b=a(this).width(),c=a(this).outerWidth(),b=(b+(c-b))/2;a(this).css("margin-left","-"+b+"px");a(this).css("left","50%");a(this).css("position","absolute")})}})(jQuery);
        $(document).ready(function() {
            if($('#login-wrapper').length) {
                $("#login-wrapper").vAlign().hAlign()
            };
            if($('#login-validate').length) {
                $('#login-validate').validate({
                    onkeyup: false,
                    errorClass: 'error',
                    rules: {
                        login_name: { required: true },
                        login_password: { required: true }
                    }
                })
            }
            if($('#forgot-validate').length) {
                $('#forgot-validate').validate({
                    onkeyup: false,
                    errorClass: 'error',
                    rules: {
                        forgot_email: { required: true, email: true }
                    }
                })
            }
            $('#pass_login').click(function() {
                $('.panel:visible').slideUp('200',function() {
                    $('.panel').not($(this)).slideDown('200');
                });
                $(this).children('span').toggle();
            });
        });
    </script>

    <script type="text/javascript" src="{{asset('back/js/utility.js') }}"></script>
    <script type="text/javascript" src="{{asset('back/js/main.js') }}"></script>
    <script type="text/javascript" src="{{asset('back/js/canvasbg.js') }}"></script>

    <!-- -------------- Page JS -------------- -->
    <script type="text/javascript">

        jQuery(document).ready(function () {

            "use strict";

            // Init Theme Core
            Core.init();

            // Init CanvasBG
            CanvasBG.init({
                Loc: {
                    x: window.innerWidth / 5,
                    y: window.innerHeight / 10
                }
            });

        });
    </script>
</head>
<body>


{#<div id="canvas-wrapper" class="visible-md visible-lg">#}
    {#<canvas id="demo-canvas"></canvas>#}
{#</div>#}

<div id="login-wrapper" class="clearfix">
    <div class="main-col">
        {#<img src="{{asset('back/img/beoro.png')}}" alt="" class="logo_img" />#}
        <div class="panel">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
    <br>
    Powered by Zouhayer
    <br>
    Version 1.0

    <!--div class="login_links">
        <a href="javascript:void(0)" id="pass_login"><span>Forgot password?</span><span style="display:none">Account login</span></a>
    </div-->
</div>
</body>
</html>