<li {% if app.request.attributes.get('_route') in ['backend_homepage'] %} class="active" {% else %} class="nav-item"{% endif %} %>
    <a href="{{ path('backend_homepage') }}">
        <i class="icon-home3"></i>
        <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Tableau de bord</span>
        {#<span class="tag tag tag-primary tag-pill float-xs-right mr-2">2</span>#}
    </a>
</li>


<li {% if app.request.attributes.get('_route') in ['backend_homepage'] %} class="active open" {% else %} class="nav-item"{% endif %}>
    <a href="#">
        <i class="icon-group"></i>
        <span data-i18n="nav.dash.main" class="menu-title">Utilisateurs</span>
    </a>
    <ul class="menu-content">
        <li {% if app.request.attributes.get('_route') in ['backend_homepage', 'security_user_list', 'agence_agence_show', 'agence_agence_edit'] %} class="active open" {% else %} class="nav-item"{% endif %}>
            <a href="{{ path('security_user_list') }}" data-i18n="nav.dash.main" class="menu-item">Liste des profils</a>
            {#<a href="{{ path('agence_agence_homepage', {'type' : 'all'}) }}" data-i18n="nav.dash.main" class="menu-item">Liste des profils</a>#}
        </li>
        <li {% if app.request.attributes.get('_route') in ['agence_index', 'agence_new', 'agence_edit', 'agence_show'] %} class="active open" {% else %} class="nav-item"{% endif %}>
            <a href="{{ path('backend_homepage') }}" data-i18n="nav.dash.main" class="menu-item">Liste des agences</a>
            {#<a href="{{ path('agence_agence_homepage', {'type' : 'all'}) }}" data-i18n="nav.dash.main" class="menu-item">Liste des profils</a>#}
        </li>
        <li {% if app.request.attributes.get('_route') in ['fos_user_profile_show', 'fos_user_profile_edit', 'fos_user_change_password'] %} class="active open" {% else %} class="nav-item"{% endif %}>
            <a href="{{ path('fos_user_profile_show') }}" data-i18n="nav.dash.main" class="menu-item">Mon profil</a>
            {#<a href="{{ path('agence_agence_homepage', {'type' : 'all'}) }}" data-i18n="nav.dash.main" class="menu-item">Liste des profils</a>#}
        </li>
        {#<li  {% if app.request.attributes.get('_route') in ['agence_agence_homepage', 'agence_agence_new'] %} class="active open" {% else %} class="nav-item"{% endif %}>#}
        {#<a href="{{ path('agence_agence_homepage', {'type': constant('Agence\\UserBundle\\Entity\\User::Type_AGENCE')}) }}" data-i18n="nav.dash.main" class="menu-item">Agences</a>#}
        {#</li>#}
        {#<li {% if app.request.attributes.get('_route') in ['agence_agence_homepage', 'agence_agence_new'] %} class="active open" {% else %} class="nav-item"{% endif %}>#}
        {#<a href="{{ path('agence_agence_homepage', {'type': constant('Agence\\UserBundle\\Entity\\User::Type_SALES')}) }}" data-i18n="nav.dash.main" class="menu-item">Commercials</a>#}
        {#</li>#}
        {#<li {% if app.request.attributes.get('_route') in ['agence_agence_homepage', 'agence_agence_new'] %} class="active open" {% else %} class="nav-item"{% endif %}>#}
        {#<a href="{{ path('agence_agence_homepage', {'type': constant('Agence\\UserBundle\\Entity\\User::Type_CONTRACTIONG')}) }}" data-i18n="nav.dash.main" class="menu-item">Agent de saisie</a>#}
        {#</li>#}
    </ul>
</li>