{% extends "::base.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}

    <li class="breadcrumb-item">
        <a href="{{ path('agence_agence_homepage') }}">Gestion des Profils</a>
    </li>
    <li class="breadcrumb-item active">
        {{ unit.type|titleEditAgence ~ unit.type|trans }}
    </li>
{% endblock %}

{% block body %}

    <div class="content-body">
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            {#<h4 class="card-title" id="basic-layout-form">Cr&eacute;ation d'une agence</h4>#}
                            <h4 class="card-title" id="basic-layout-form">{{ unit.type|titleEditAgence ~ unit.type|trans }}</h4>
                            {#<a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>{{ type |trans }}#}
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload" href="{{ path('agence_agence_edit', {'id': unit.id} ) }}"><i class="icon-reload"></i></a></li>
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block">
                                {{ form_start(form) }}
                                    {{ form_errors(form) }}
                                    <div class="form-body">
                                        <h4 class="form-section">Informations de connexion</h4>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {#{{ form_errors(form.username) }}#}
                                                    {{ form_row(form.username, { 'attr': {'class': 'input-interne form-control' ,'required':'required'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_row(form.email, { 'attr': {'class': 'input-interne form-control' ,'required':'required'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h4 class="form-section">Informations g&eacute;n&eacute;rales</h4>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {{ form_row(form.unite.name, { 'attr': {'class': 'form-control' ,'required':'required'}}) }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {% if unit.type == constant('Agence\\UserBundle\\Entity\\User::Type_SALES') %}
                                                    {{ form_row(form.agence, { 'attr': {'class': 'form-control' ,'required':'required'}}) }}
                                                {% else %}
                                                    {{ form_row(form.unite.address, { 'attr': {'class': 'form-control' ,'required':'required'}}) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ form_row(form.unite.description, { 'attr': {'class': 'form-control', 'rows': 10, 'cols': '150'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_rest(form) }}
                                    <div class="form-actions right">
                                        <button type="reset" class="btn btn-warning mr-1">
                                            <i class="icon-cross2"></i> Annuler
                                        </button>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="icon-check2"></i> Valider
                                        </button>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}